<div class="container">
    <div class="select-user">
        <mat-form-field>
            <mat-label>Select User</mat-label>
            <mat-select [(ngModel)]="selectedUser">
                <mat-option *ngFor="let user of availableUser$ | async" [value]="user" (click)="selectChatUser(user)">{{ user.username }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <ng-container *ngIf="selectedUser; else noUserSelected">
    <div class="chat-list" *ngIf="selectedUser">
        <div>
            <div class="search-input">
                <mat-form-field>
                    <input matInput
                           placeholder="Search for users..."
                           [formControl]="searchControl"
                           [matAutocomplete]="user"
                    >
                </mat-form-field>
                <mat-autocomplete #user="matAutocomplete">
                    <mat-option *ngFor="let user of users$ | async" (click)="createChat(user)">
                        {{ user?.username }}
                    </mat-option>
                </mat-autocomplete>

                <mat-selection-list [multiple]="false" [formControl]="chatListControl" hideSingleSelectionIndicator>
                    <mat-divider></mat-divider>
                    <mat-list-option *ngFor="let chatItem of chatItemList$ | async" [value]="chatItem.chat._id">
                        <img matListItemAvatar [ngSrc]="'assets/img/user-icon.png'" alt="" width="50" height="50">
                        <p mat-line class="chat-title">
                            <span class="chat-name">{{ chatItem.chatName }}</span>
                            <span class="chat-date">{{ chatItem.chat.lastMessageDate | date:'MMM dd hh:mm a' }}</span>
                        </p>
                        <p mat-line class="chat-last-message">{{ chatItem.chat.lastMessage }}</p>
                        <mat-divider></mat-divider>
                    </mat-list-option>
                </mat-selection-list>
            </div>

        </div>
    </div>
    <div class="messages-container">
        <div class="messages" *ngIf="selectedChatItem$ | async as selectedChat; else noMessages">
            <div class="messages-header">
                <img [ngSrc]="'assets/img/user-icon.png'" alt="" width="50" height="50">
                <div class="selected-chat-title">{{ selectedChat.chatName }}</div>
            </div>

            <div class="chat-area" #chatScroll (scroll)="onScrollFetchMessage($event)">
                    <ng-container *ngIf="user$ | async as curUser">
                        <div *ngIf="isLoading" class="spinner-container">
                            <mat-spinner class="spinner"></mat-spinner>
                        </div>
                        <div *ngFor="let message of messages"
                             class="chat-bubble-container"
                             [ngClass]="{'sender': message.userId === curUser._id}"
                        >
                            <div class="chat-bubble">
                                {{ message?.text }}
                                <span class="chat-time">{{ message?.timestamp | date:'hh:mm a' }}</span>
                            </div>
                        </div>
                        <div #endOfChat></div>
                    </ng-container>
            </div>

            <div class="input-area">
                <mat-form-field appearance="outline">
                    <input [formControl]="messageControl" matInput placeholder="Enter your message..."
                           (keydown.enter)="sendMessage()"/>
                    <button mat-icon-button matSuffix (click)="sendMessage()">
                        <mat-icon>send</mat-icon>
                    </button>
                </mat-form-field>
            </div>
        </div>


        <ng-template #noMessages>
            <div class="no-message-header">
                Select a Chat
            </div>
        </ng-template>
    </div>

    </ng-container>
    <ng-template #noUserSelected>
        <div class="no-user-selected">
            Select a User
        </div>
    </ng-template>
</div>
